{% extends 'base.html' %}
<h1>Home</h1>
{% block content %}
<h1>Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero labore aliquam, hic provident molestias eum repudiandae dolore repellendus commodi aliquid neque dolores dignissimos at odit culpa eveniet reiciendis perferendis corrupti ratione aut voluptatum. Voluptatibus accusamus minus quaerat, illum tempora expedita fuga voluptate, possimus corrupti omnis minima natus doloremque asperiores, optio dolores! Vero, optio officia sit illum reiciendis nulla voluptatibus molestiae, illo iusto sed quae odit velit repellendus excepturi ipsam suscipit dolor repellat eligendi asperiores doloribus ratione. Deleniti nisi facilis quisquam quas veniam esse nesciunt ea recusandae, quidem architecto culpa excepturi modi fuga quia quo dolores suscipit omnis voluptas unde odit.</p>
{% endblock %}